{{> navbar}}
{{> header}}
{{> messages}}

<script>

  function removeOne_clicked(event,productId) {
    Model.removeItem(productId,false);
    navigateTo(event, '/cart');
    
    
  }

  function removeAll_clicked(event,productId) {
    Model.removeItem(productId,true);
    navigateTo(event, '/cart');
    
    
  }


</script> 

  <main>

    <div class="container">
      <h1>Shopping Cart</h1>
      
      {{#unless cartItems}}<p>No product items in the shopping cart yet</p>{{/unless}}
       {{#if cartItems}}<table class="table">
        
        <thead>
          <tr>
            <th scope="col">Qty</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
       
        <tbody>
          {{#each cartItems}}
          <tr>
             
            <td>{{this.qty}}</td>
            <td>{{this.product.title}}</td>
            <td>{{this.product.price}}</td>
            <td>{{totalCartItem this.qty this.product.price}}</td>
            
            <td class="dropdown">
              <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Remove
              </button>
              <ul class="dropdown-menu">
                <li><a onclick= "removeOne_clicked(event,'{{this.product._id}}')" class="dropdown-item" href="#">One</a></li>
                <li><a onclick= "removeAll_clicked(event,'{{this.product._id}}')" class="dropdown-item" href="#">All</a></li>
              </ul>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      
      <p id="subt"><strong>Subtotal: </strong>{{subtotalCartItem cartItems}}€</p>
      <p id="taxt"><strong>Tax: </strong>{{taxesCartItem cartItems}}€</p>
      
      <div class="text-end">
        <p><strong>Total: </strong>{{totalCart cartItems}}</p>
        <td><button onclick="navigateTo(event, '/purchase')" class="btn btn-primary">Purchase</button></td>
      </div>
    </div>{{/if}}
    
  </main>

{{> footer}}
