{{> navbar}}
{{> header}}

 
</script>
  <main>

    <div class="container">
      <h1>Shopping Cart</h1>
      
      {{#unless user.cartItems}}<p>No product items in the shopping cart yet</p>{{/unless}}
       {{#if user.cartItems}}<table class="table">
        
        <thead>
          <tr>
            <th scope="col">Qty</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
       
        <tbody>
          {{#each user.cartItems}}
          <tr>
             
            <td>{{this.qty}}</td>
            <td>{{this.product.title}}</td>
            <td>{{this.product.price}}</td>
            <td>{{totalCartItem this.qty this.product.price}}</td>
            
            <td class="dropdown">
              <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Remove
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">One</a></li>
                <li><a class="dropdown-item" href="#">All</a></li>
              </ul>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      
      <p id="subt"><strong>Subtotal: </strong>{{subtotalCartItem}}</p>
      <p id="taxt"><strong>Tax: </strong>{{taxesCartItem}}</p>
      
      <div class="text-end">
        <p><strong>Total: </strong>{{totalCart}}</p>
        <td><button onclick="navigateTo(event, '/')" class="btn btn-primary">Purchase</button></td>
      </div>
    </div>{{/if}}
    
  </main>

{{> footer}}
