{{> navbar}}
{{> header}}


<main>
        <div class="container">
            <h1>Order Number</h1>
            <p><strong>Number: </strong>{{order.number}}</p>
            <p><strong>Address: </strong>{{order.address}}</p>
            <p><strong>Date: </strong>{{formatDate order.date}}</p>
            <p><strong>Card Number: </strong>{{order.cardNumber}}</p>
            <p><strong>Card Holder: </strong>{{order.cardHolder}}</p>
            <h1>Order List</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Qty</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>

                    </tr>
                </thead>
                
                <tbody>
                    {{#each order.orderItems}}
                    <tr>
                        <td>{{qty}}</td>
                        <td>{{product.title}}</td>
                        <td>{{price}}€</td>
                        <td>{{subtotalOrderItem qty price}}€</td>
                    </tr>
                    {{/each}}
                </tbody>
                
            </table>
            <p id="subTotal"><strong>Subtotal: </strong>{{subtotalOrder order.orderItems}}€</p>
            <p id="tax"><strong>Tax: </strong>{{taxOrder order.orderItems}}€</p>
            <p><strong>Total: </strong>{{totalOrder order.orderItems}}€</p>
        </div>


    </main>

{{> footer}}