{{> navbar}}
{{> header}}

<main>
    
    <div class="container">
    <h1>Profile</h1>
    <p><strong>Name: </strong>{{user.name}}</p>
    <p><strong>Surname: </strong>{{user.surname}}</p>
    <p><strong>Birth: </strong>{{formatDate user.birthdate}}</p>
    <p><strong>Address: </strong>{{user.address}}</p>
    <p><strong>Email: </strong>{{user.email}}</p>
    <h1>Order List</h1>
    {{#unless user.orders}}<p>No orders yet</p>{{/unless}}
    {{#if user.orders}}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Number</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each user.orders}}
          <tr>
            <td>{{formatDate this.date}}</td>
            <td>{{this.number}}</td>
            <td>{{totalOrder this.orderItems}}€</td>
            <td><button onclick="navigateTo(event, '/order/id/{{this.number}}')" class="btn btn-primary">Details</button></td>
          </tr>
         {{/each}} 
        </tbody>
      </table>
      {{/if}}
    </div>
   
  </main>

{{> footer}}