{{> navbar}}
{{> header}}

<main>

  <div class="container">
    <div class="row gy-4">
      <h1>Purchase</h1>
      {{#unless user.cartItems}}<p>No items in shopping cart</p>{{/unless}}
      {{#if user.cartItems}}
      <form id="purchase-form" class="row gy-3 needs-validation" novalidate>

      <div class="form-group">
      <!--input id="date" type="date" class="form-control" placeholder="dd/mm/yyyy"-->
      <p>{{purchaseDate}}</p>
      </div>

      <div class="form-group">
      <input id="address" type="text" class="form-control" placeholder="Address">
      <div class="invalid-feedback">The address field cannot be empty</div>
      </div>

      <div class="form-group">
      <input id="cardNumber" type="text" class="form-control" placeholder="Card Number">
      <div class="invalid-feedback">The card number field cannot be empty</div>
      </div>

      <div class="form-group">
      <input id="cardOwner" type="text" class="form-control" placeholder="Card Owner">
      <div class="invalid-feedback">The card owner field cannot be empty</div>
      </div>

      </form>

      <h1>Items</h1>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Qty</th>
          <th scope="col">Product Name</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {{#each user.cartItems}}
        <tr>
          <td>{{this.qty}}</td>
          <td>{{this.product.title}}</td>
          <td>{{totalCartItem this.qty this.product.price}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <p><strong>Subtotal:  </strong>{{subtotalCartItem}}€</p>
    <p><strong>Tax: </strong>{{taxesCartItem}}€</p>
    <p><strong>Total: </strong>{{totalCart}}€</p>
    <div class="text-end">
      <td><button onclick="checkout_clicked(event)" class="btn btn-primary">Checkout</button></td>
    </div>

  </div>{{/if}}
</main>

<script>

  function checkout_clicked(e) {
    e.preventDefault();
    e.stopPropagation();
    $('#purchase-form').submit();
    navigateTo(e, '/profile')
  }

  $(function () {
    $('#purchase-form').on('submit', function (e) {
      e.preventDefault();
      e.stopPropagation();
      if (!this.checkValidity()) {
        $(this).addClass('was-validated');
        return false;
      }
      
      Model.purchase($('#cardNumber').val(), $('#cardOwner').val(), $('#address').val());
      //navigateTo(e, '/signin');

    });
    $('#purchase-form input').on('blur', function (e) {
      if (!this.checkValidity()) {
        $(this).removeClass('is-valid').addClass('is-invalid');
      }
      else {
        $(this).removeClass('is-invalid').addClass('is-valid');
      }
    });
  });
</script>

{{> footer}}